 
.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
.Rapp.history
/inputs/data/usa_00002.dta
/inputs/data/ns20200625.dta
outputs/data/ACS.csv
outputs/data/UCLA.csv
*-Ex.R
/*.tar.gz
/*.Rcheck/
vignettes/*.html
vignettes/*.pdf
.httr-oauth
/*_cache/
/cache/
*.utf8.md
*.knit.md
rsconnect/
